.inboxes-container{
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 8px rgb(172, 171, 171);
    width: 400px;
    
}

.inboxes{
    margin-left: 16px;
    padding-top: 8px;
}

.inbox-content{
    
    display: flex;
    align-items: center;
    height: 90px;
    
    margin-bottom: 0px;
    margin-top: 0px;
}

.inbox-picture{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 16px;
    margin-right: 12px;
}

.inbox-text{
    width: 400px;
    margin-right: 12px;
}

p{
    margin-top: 0;
    margin-bottom: 0;
    font-style: Arial;
}

.text-container{
    display: flex;
    justify-content: space-between;
}

.text-bold{
    font-weight: bold;
    margin-bottom: 4px;
}

.text-muted{
    color: rgb(136, 134, 134);
}

.text-big{
    font-size: 18px;
}