.profile{
    width: 155px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 10px grey ;
    display: inline-block;
    margin: 0px 4px;
}

.pf-image{
    width: 100%;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.profile-name{
    font-weight: 500;
    margin-left: 4px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.mutual-picture,.mutual-number{
    display: inline-block;
    vertical-align: middle;
}

.mutual-picture{
    margin-left: 2px;
}

.mutual-img{
    width: 25px;
    height: 25px;
    border-radius: 1000px;
    object-fit:cover;
    display: block;
    
}

.mutual-text{
    font-family: "Roboto";
    color: grey;
    
}

.profile-button{
    margin-left: 2px;
}

.friend-button{
    background-color: rgb(0, 140, 255);
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin: 7px 4px ;
}

.mutual-section{
    margin-bottom: 4px;
    margin-left: 4px;
}
