.profile{
    width: 30px;
    height: 30px;
    border-radius: 1000000000000000000000000px;
    vertical-align: middle;
}

.text-input{
    border: none;
}

.tweet-button{
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 1000px;
    border: none;
    font-size: 10px;
    vertical-align: middle;
    text-align: middle;
}