input{
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

.First-n{
    margin-bottom: 8px;
    height: 25px;
    width: 90px;
 }

 .Last-n{
    height: 25px;
    width: 90px;
 }

 .Email{
    display: block;
    height: 25px;
    margin-bottom: 8px;
    width: 190px;
 }

 .sign-b{
    color: white;
    background-color: rgb(0, 153, 255);
    width: 195px;
    height:30px;
    border: none;
    border-radius: 4px;
}