p , .add-b{
    margin-left: 8px;
}

.profile-pic{
    width: 200px;
}

.name-p{
    font-weight: bold;
    font-family: Arial;
    margin-bottom: 0px;
    margin-top: 8px;
}

.mutuals{
     font-family: Arial;
     color: rgb(107, 106, 106);
     margin-top: 4px;
     margin-bottom: 0;
}

.add-b{
    background-color: rgb(3, 130, 235);
    color: white;
    font-family: Arial;
    font-size: 16px;
    margin-top: 10px;
    width: 120px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    border: none;


}

div {
    
    display: inline-block;
    border: 1px solid rgb(141, 141, 141);
    box-shadow: 2px 2px 8px black ;
    padding-bottom: 10px;
    margin-left: 10px;
}