p{
    color: rgb(97, 96, 96);
    margin-bottom: 0;
    margin-top: 0;
}

.agree-button{
    background-color: rgb(1, 71, 221);
    color: white;
    width: 350px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 120px;
    vertical-align: middle;
    font-size: 16px;
    border: none;
    margin-top: 8px;
}

.text-box{
    width: 360px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}